/*CSS for API*/

.header {
	padding: 1em 1em 1em 1em;
	background-color: #3366cc;
	color: #fff;
}
.content {
	margin: 0 auto;
	width: 75%;
	padding: 1em 0 2em 0;
}
h4 {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 1em;
	padding-top: 1em;
}
th, td {
	text-align: left;
	padding: 10px;
}
table, th, td {
	border: 1px solid black;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}
.get {
	border: 1px solid black;
	background-color: #ccc;
	color: #000;
}
