
.icon {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.event_row {
  width: 100%;
  height: 40px;
  float: left;
  padding: 10px;
}

.title_text {
  font-weight: 800;
  font-size: 1.2em;
  padding-right: 10px;
}

.detail {
  margin-right: 10px;
}

.fav {
  margin-right: 10px;
}

.delete {
  margin-right: 10px;
}

.edit {
  margin-right: 10px;
}

.inner {
  width: 600px;
  margin: 1em auto:
}

