/*CSS for API*/

.container {
	margin: 0 auto;
	width: 25%;
	padding: 1em 0 2em 0;
}
.registration-form {
	padding: 2em 0;
}
.login-form {

}
button {
	padding: 1em 0 1em 0;
	width: 100%;
}
input {
	width: 100%;
	padding: .5em .25em;
}

.checkbox {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: .5em 0;
}

span {
	padding: 0 .25em;
}